/* BODY STYLES */
body {
  font-size: 16px;
}

/* HEADER STYLES */
h1,
h2,
p {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
h2 {
  text-transform: uppercase;
  text-align: center;
}
h1 {
  text-shadow: 1px 1px #0cc6ff;
  text-transform: uppercase;
}

/* RACCOON STYLES */
:root {
  --raccoon-size: 300px;
  --raccoon-skin: #819da9;
  --raccoon-dark-fur: #414E5F;
  --raccoon-belly: #e9eef4;
  --raccoon-nose: #1a1a1a;
  --raccoon-snout: #c1cbd4;
}
  
@media (max-width: 350px) {
  :root {
    --raccoon-size: 200px;
    --raccoon-skin: black;
  }
}
  
.raccoon {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: var(--raccoon-size, 300px);
  height: var(--raccoon-size, 300px);
}
  
.right-cheek {
  top: 15%;
  left: 35%;
  background: var(--raccoon-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}
  
.left-cheek {
  top: 15%;
  left: 5%;
  background: var(--raccoon-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}
  
.belly {
      top: 60%;
      left: 2.5%;
      background: var(--raccoon-belly, white);
      width: 95%;
      height: 100%;
      border-radius: 120% 120% 100% 100%;
}
  
.raccoon-top {
      top: 10%;
      left: 25%;
      background: var(--raccoon-skin, gray);
      width: 50%;
      height: 45%;
      border-radius: 70% 70% 60% 60%;
}

.raccoon-bottom {
      top: 40%;
      left: 23.5%;
      background: var(--raccoon-skin, gray);
      width: 53%;
      height: 45%;
      border-radius: 70% 70% 100% 100%;
}
  
.right-hand {
      top: 5%;
      left: 25%;
      background: var(--raccoon-skin, black);
      width: 30%;
      height: 60%;
      border-radius: 30% 30% 120% 30%;
      transform: rotate(130deg);
      z-index: -1;
      animation-duration: 3s;
      animation-name: wave;
      animation-iteration-count: infinite;
      transform-origin:0% 0%;
      animation-timing-function: linear;
}
  
@keyframes wave {
  10% {
    transform: rotate(110deg);
  }
  20% {
    transform: rotate(130deg);
  }
  30% {
    transform: rotate(110deg);
  }
  40% {
    transform: rotate(130deg);
  }
}
  
.left-hand {
      top: 0%;
      left: 75%;
      background: var(--raccoon-skin, gray);
      width: 30%;
      height: 60%;
      border-radius: 30% 30% 30% 120%;
      transform: rotate(-45deg);
      z-index: -1;
}

.tail {
      top: -41%;
      left: 95%;
      background: var(--raccoon-dark-fur, black);
      width: 35%;
      height: 60%;
      border-radius: 10% 30% 360% 125%;
      transform: rotate(224deg);
      /* z-index: -1;
      animation-duration: 3s;
      animation-name: wave;
      animation-iteration-count: infinite;
      transform-origin:0% 0%;
      animation-timing-function: linear; */
}
.stripe1 {
      background: var(--raccoon-skin, gray);
      width: 96%;
      height: 15%;
      top: 20%;
      border-radius: 30% 90% 45% 90%;
      /* transform: skew(75%); */
}
.stripe2 {
      background: var(--raccoon-skin, gray);
      width: 93%;
      height: 12%;
      top: 50%;
      border-radius: 30% 90% 45% 90%;
      /* transform: skew(75%); */
}
.stripe3 {
      background: var(--raccoon-skin, gray);
      width: 74%;
      height: 10%;
      top: 75%;
      border-radius: 30% 90% 45% 90%;
      /* transform: skew(75%); */
}
  
.right-feet {
      top: 80%;
      left: 65%;
      background: var(--raccoon-nose, black);
      width: 15%;
      height: 30%;
      border-radius: 50% 50% 50% 50%;
      transform: rotate(-80deg);
      z-index: -2222;
}
  
.left-feet {
  top: 80%;
  left: 20%;
  background: var(--raccoon-nose, black);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(80deg);
  z-index: -2222;
}

/* EYES STYLES */
.right-mask {
  top: 35%;
  left: 0%;
  background: var(--raccoon-dark-fur, #414E5F);
  width: 45%;
  height: 27%;
  border-radius: 50%;
  transform: rotate(8deg);
}
.left-mask {
  top: 35%;
  left: 55%;
  background: #414E5F;
  width: 45%;
  height: 27%;
  border-radius: 50%;
  transform: rotate(352deg);
}
  
.right-eye {
  top: 40%;
  left: 60%;
  background: black;
  width: 15%;
  height: 16%;
  border-radius: 50%;
  border: 2px solid var(--raccoon-snout, lightgray);
}
  
.left-eye {
  top: 40%;
  left: 23%;
  background: black;
  width: 15%;
  height: 16%;
  border-radius: 50%;
  border: 2px solid var(--raccoon-snout, lightgray);
}
  
    /* .sparkle {
      top: 25%;
      left:-23%;
      background: var(--raccoon-belly);
      width: 150%;
      height: 100%;
      border-radius: 50%;
    } */
.sparkle {
      top: 25%;
      left: 15%;
      background: white;
      width: 35%;
      height: 35%;
      border-radius: 50%;
} 
  
/* EARS STYLES */
.right-ear {
      top: 1%;
      left: 67%;
      background: var(--raccoon-belly, white);
      width: 25%;
      height: 30%;
      border-radius: 50% 90% 60% 90%;
      /* border-radius: 30% 30% 360% 125%; */
      transform: rotate(-90deg);
      /* z-index: -2222; */
}
  
.left-ear {
      top: 1%;
      left: 7%;
      background: var(--raccoon-belly, white);
      width: 25%;
      height: 30%;
      border-radius: 90% 65% 90% 60%;
      transform: rotate(90deg);
      /* z-index: -2222; */
}

.right-inner-ear-shadow {
      top: 3%;
      left: 70%;
      background: var(--raccoon-dark-fur, black);
      width: 20%;
      height: 25%;
      border-radius: 50% 90% 60% 90%;
      transform: rotate(-90deg);
      /* z-index: -2222; */
}
  
.left-inner-ear-shadow {
      top: 4%;
      left: 9%;
      background: var(--raccoon-dark-fur, black);
      width: 20%;
      height: 25%;
      border-radius: 90% 65% 90% 60%;
      transform: rotate(90deg);
      /* z-index: -2222; */
}

.right-inner-ear {
      top: 6.5%;
      left: 73%;
      background: var(--raccoon-snout, lightgray);
      width: 17%;
      height: 20.5%;
      border-radius: 50% 90% 60% 90%;
      transform: rotate(-90deg);
}
  
.left-inner-ear {
      top: 7%;
      left: 10%;
      background: var(--raccoon-snout, lightgray);
      width: 15%;
      height: 20%;
      border-radius: 90% 65% 90% 60%;
      transform: rotate(90deg);
}

/* END EARS STYLES */

.blush-right {
      top: 63%;
      left: 15%;
      background: #ffc1cc;
      width: 15%;
      height: 10%;
      border-radius: 50%;
}
  
.blush-left {
      top: 63%;
      left: 70%;
      background: #ffc1cc;
      width: 15%;
      height: 10%;
      border-radius: 50%;
}
  
.snout-top {
      top: 60%;
      left: 39%;
      background: var(--raccoon-snout, lightgray);
      width: 22%;
      height: 15%;
      border-radius: 50%;
}
.snout-bottom {
      top: 60%;
      left: 37.5%;
      background: var(--raccoon-skin, gray);
      width: 25%;
      height: 20%;
      border-radius: 50%;
}
  
.nose {
      top: 65%;
      left: 44%;
      background: var(--raccoon-nose, black);
      width: 11%;
      height: 8%;
      border-radius: 50%;
}
  
body {
      /* background:#c6faf1; */
      background-color: #ffe8c6;
}
  
.raccoon * {
      position: absolute;
}

/* END RACCOON STYLES */

/* FOOTER STYLES */
footer {
  padding-top: 7em;
  font-size: .75em;
}